{% extends 'dashboard.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/Exam/student_app/static/details.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>

      {% block content %}
      <!-- Form -->

      <div class="container border border-dark rounded p-lg-5 shadow-lg p-3 mb-5 bg-dark rounded my-5 mx-9">
        <form action="{% url 'registerad' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 style="font-family: cursive; color: lightyellow;" class="signinup">Add Users</h2><br>
        <div class="row">
            <div class="col-md-6">
                <label style="color: mintcream;">First Name</label>
                <input class="form-control" type="text" name="first_name" placeholder="firstname"><br>
            </div>

            <div class="col-md-6">
                <label style="color: mintcream;">Last Name</label>
                <input class="form-control" type="text" name="last_name" placeholder="Name"><br>
            </div>

            <div class="col-md-12">
                <label style="color: mintcream;">User Name</label>
                <input class="form-control" type="text" name="username" placeholder="User Name"><br>
            </div>
            
            <div class="col-md-12">
                <label style="color: mintcream;">E-mail</label>
                <input class="form-control" type="text" name="email" placeholder="E-mail"><br>
            </div>

            <div class="col-md-6">
                <label style="color: mintcream;">Mobile No</label>
                <input class="form-control" type="text" name="phone" placeholder="phone"><br>
            </div>

            <div class="col-md-12">
                <label style="color: mintcream;">Address</label>
                <input class="form-control" type="text" name="address" placeholder="Address"></br>
            </div>

            <div class="col-md-12">
            <label style="color: mintcream;" for="role">Role:</label>
            <select name="role" id="role">
             
                <option value="admin">admin</option>
                <option value="customer">customer</option>
                <option value="driver">driver</option>
             
             </select><br></br>
            </div>
            <div class="col-md-6">
                <label style="color: mintcream;">City</label>
                <input class="form-control" type="text" name="city" placeholder="City"><br>
            </div>

            <div class="col-md-6">
                <label style="color: mintcream;">Post Code</label>
                <input class="form-control" type="text" name="postcode" placeholder="City"><br>
            </div>

            <div class="col-md-6">
                <label style="color: mintcream;">Password</label>
                <input class="form-control" name="password" type="password" placeholder="Password"><br>
            </div>

            <div class="col-md-6">
                <label style="color: mintcream;" for="profile_pic">Profile Pic</label>
                <input name="profilepic" type="file" class="form-control" id="profile_pic" required><br>
              </div>
              
            <div class="col-md-12">
                <button style="margin-left: 438px;" class="btn btn-success" type="submit">ADD</button>
            </div>
        </div>
    </form>
        </div>
    <!-- /Form -->
    {% endblock %}
</body>
</html>