{% extends 'dashboard.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vendor</title>
    <link rel="stylesheet" href="/Exam/student_app/static/details.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
      {% block content %}

      <div class="container border border-dark rounded p-lg-5 shadow-lg p-3 mb-5 bg-dark rounded my-5 mx-9">
        <form action="{% url 'addvendors' %}" method="POST">
            {% csrf_token %}
            <h2 style="font-family: cursive; color: lightyellow;" class="signinup">Add Vendors</h2><br>
            <div class="form-row">

                <div class="col-md-7">
                    <label style="color: mintcream;">Branch</label>
                    <input class="form-control" type="text" name="branch" placeholder="Enter Branch"><br>
                </div> </br>

                <div class="col-md-7">
                    <label style="color: mintcream;">Vendor Name</label>
                    <input class="form-control" type="text" name="vendor_name" placeholder="Enter Vendor Name"><br>
                </div> </br>

                <div class="col-md-6">
                    <label style="color: mintcream;">Phone Number</label>
                    <input class="form-control" type="text" name="phone_number" placeholder="Enter Phone Number">
                </div> </br>

                <div class="col-md-6">
                    <label style="color: mintcream;">Email</label>
                    <input style="margin-left: 20px;" class="form-control" type="email" name="email" placeholder="Enter Email"><br>
                </div> </br>

                <div class="col-md-7">
                    <label style="color: mintcream;">Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Enter Username"><br>
                </div> </br>

                <div class="col-md-7">
                    <label style="color: mintcream;">Address</label>
                    <input class="form-control" type="text" name="address" placeholder="Enter Address"><br>
                </div> </br>

                <div class="col-md-7">
                    <label style="color: mintcream;">Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Enter Password"><br>
                </div> </br>

              
               <button style="margin-left: 438px;" type="submit" value="Submit" class="btn btn-success">Add</button>
            </div>  
        </form>
        </div>

    {% endblock %}
    
</body>
</html>