<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet"/>

    <style>
        body {
          background-image: url('https://wallpapercave.com/wp/wp5635177.jpg');
          background-repeat: no-repeat;
          background-size: cover;
        }
    </style>
  </head>
  <body>
      <!-- Form -->
    <div style="margin-top: 150px; margin-right: 300px; ">
        <div class="container p-3 mb-5 bg-transparent rounded my-5 mx-9">
            <form action="{% url 'loginadmin' %}" method="POST">
                {% csrf_token %}
                <img src="\static\img\2024644_login_user_avatar_person_users_icon.png" height="100px" width="100px" style="margin-left: 460px;">
                <div style="margin-left: 350px;" class="form-row">
                    <div class="form-group col-md-5 required">
                        <label style="color: mintcream;" for="useremail">Email<span style="color: red;"> *</span></label>
                        <input type="text" name="useremail" class="form-control" id="useremail" placeholder="Enter your UserEmail">
                    </div>
                </div>
                
                <div style="margin-left: 350px;" class="form-row ">
                    <div class="form-group col-md-5 required">
                        <label style="color: mintcream;" class="control-label" for="userpassword">Password<span style="color: red;"> *</span></label>
                        <input name="userpassword" type="password" class="form-control" id="userpassword" placeholder="Enter your Password">
                        <label id="error-email"></label>
                    </div>
                </div>
                <button style="margin-left: 438px;"  type="submit" value="Submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>

    <!-- /Form -->
  </body>
</html>