{% extends 'dashboard.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add category</title>
    <link rel="stylesheet" href="/Exam/student_app/static/details.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
      
      {% block content %}

  <div class="container border border-dark rounded p-lg-5 shadow-lg p-3 mb-5 bg-dark rounded my-5 mx-9">
    <form action="{% url 'addcategory' %}" method="POST">
        {% csrf_token %}
        <h2 style="font-family: cursive; color: lightyellow;" class="signinup">Add Category</h2><br>
      <div class="form-row">
          <div class="form-group col-md-9 mr-xl-5 signinup required">
            <label style="color: mintcream;" for="inputname1">Category Name</label>
            <input type="text" name="category_name" class="form-control" id="category_name" placeholder="Enter the category name">
          </div>
          <div class="form-group col-md-12 mr-xl-5 signinup required">
            <label style="color: mintcream;" for="inputname1">Category Description</label>
            <textarea type="text" name="category_desc" class="form-control" id="category_desc" placeholder="Enter the description"></textarea><br>
          </div>
        </div>
          
      <button style="margin-left: 438px;" type="submit" value="Submit" class="btn btn-success">Add</button>
    </form>
    </div>

    {% endblock %}
</body>
</html>