<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Dashboard</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="static/assets/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="static/assets/css/lib/chartist/chartist.min.css" rel="stylesheet">
    <link href="static/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="static/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="static/assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="static/assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="static/assets/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="static/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="static/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/css/lib/helper.css" rel="stylesheet">
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures ">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="{% url 'dashboardfront' %}">
                     <img src="static/assets/images/illuminati.jpg" alt="" width="50px" height="50px" style="margin-right: 2px;" /><span style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: burlywood; ;">Ecommerce Admin</span></a></div>
                    <li class="label">Main</li>
                    <li><a href="{% url 'dashboardfront' %}" ><i class="ti-home"></i> Dashboard</a></li>

                    <li class="label">Add</li>
                    <li><a href="{% url 'registerad' %}"><i class="fas fa-user"></i> Users</a></li>
                    <li><a href="{% url 'addproducts' %}"><i class="fab fa-product-hunt"></i> Products </a></li>
                    <li><a href="{% url 'addcategory' %}"><i class="fas fa-layer-group"></i> Category</a></li>
                    <li><a href="{% url 'addvendors' %}"><i class="fas fa-store-alt"></i> Vendors</a></li>
                    <li><a href="{% url 'addorders' %}"><i class="fas fa-shopping-cart"></i> Orders</a></li>

                    <li class="label">List</li>
                    <li><a href="{% url 'listusers' %}"><i class="fas fa-user"></i>Users</a></li>
                    <li><a href="{% url 'listproduct' %}"><i class="fab fa-product-hunt"></i> Products </a></li>
                    <li><a href="{% url 'listcategory' %}"><i class="fas fa-layer-group"></i> Category</a></li>
                    <li><a href="{% url 'listvendor' %}"><i class="fas fa-store-alt"></i> Vendors</a></li>
                    <li><a href="{% url 'listorder' %}"><i class="fas fa-shopping-cart"></i> Orders</a></li>
                    <li><a href="{% url 'listorderdetails' %}"><i class="fas fa-shopping-cart"></i> Orders Details</a></li>
                    
                    <li class="label">Reports</li>
                    <li><a href="{% url 'productreport' %}"><i class="fab fa-product-hunt"></i> Products </a></li>
                    <li><a href="{% url 'listusers' %}"><i class="fas fa-user"></i>Customers</a></li>

                    </div>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header stylish-color">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12" >
                    <div class="float-left" >
                        <div class="hamburger sidebar-toggle">
                            <span class="line primary-color"></span>
                            <span class="line primary-color"></span>
                            <span class="line primary-color"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon danger-color" data-toggle="dropdown">
                                <i class="ti-bell "></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">Recent Notifications</span>
                                    </div>
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="static/assets/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">5 members joined today </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="static/assets/images/avatar/3.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Mariam</div>
                                                        <div class="notification-text">likes a photo of you</div>
                                                    </div>
                                                </a>
                                            </li>
                                            
                                            <li class="text-center"><a href="#" class="more-link">See All</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon warning-color" data-toggle="dropdown">
                                <i class="ti-email"></i>
                                <div class="drop-down dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-heading">
                                        <span class="text-left">2 New Messages</span>
                                        <a href="email.html"><i class="ti-pencil-alt pull-right"></i></a>
                                    </div>

                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li class="notification-unread">
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="static/assets/images/avatar/1.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Michael Qin</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you</div>
                                                    </div>
                                                </a>
                                            </li>

                                            <li class="notification-unread">
                                                <a href="#">
                                                    <img class="pull-left m-r-10 avatar-img" src="static/assets/images/avatar/2.jpg" alt="" />
                                                    <div class="notification-content">
                                                        <small class="notification-timestamp pull-right">02:34 PM</small>
                                                        <div class="notification-heading">Mr. John</div>
                                                        <div class="notification-text">Hi Teddy, Just wanted to let you</div>
                                                    </div>
                                                </a>
                                            </li>
                                            
                                            <li class="text-center"><a href="#" class="more-link">See All</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dib">
                            <div class="header-icon info-color" data-toggle="dropdown">
                                {% csrf_token %}
                                <span class="user-avatar">{{request.user.first_name}}<i class="ti-angle-down f-s-10"></i></span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li><a href="{% url 'registerad' %}"><i class="ti-user"></i><span>Profile</span></a></li>
                                            <li><a href="#"><i class="ti-email"></i><span>Inbox</span></a></li>
                                            <li><a href="#"><i class="ti-settings"></i><span>Setting</span></a></li>
                                            <li><a href="#"><i class="ti-lock"></i><span>Lock Screen</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title"><h1>Hello, <span>Welcome {{request.user.first_name}} {{request.user.last_name}}</span></h1></div>
                        </div>
                    </div>

                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'signoutadmin' %}">Logout</a></li>
                                    <li class="breadcrumb-item active">Home</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>

                <div>
                    {% block content %}

                    {% endblock %}
                </div>
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2018 © Admin Board. - <a href="https://www.linkedin.com/in/sidharth5471/">{{request.user.first_name}} {{request.user.last_name}}</a></p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- jquery vendor -->
    <script src="static/assets/js/lib/jquery.min.js"></script>
    <script src="static/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="static/assets/js/lib/menubar/sidebar.js"></script>
    <script src="static/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->

    <script src="static/assets/js/lib/bootstrap.min.js"></script>
    <script src="static/assets/js/scripts.js"></script>
    <!-- bootstrap -->

    <script src="static/assets/js/lib/calendar-2/moment.latest.min.js"></script>
    <script src="static/assets/js/lib/calendar-2/pignose.calendar.min.js"></script>
    <script src="static/assets/js/lib/calendar-2/pignose.init.js"></script>
    <script src="static/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="static/assets/js/lib/weather/weather-init.js"></script>
    <script src="static/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="static/assets/js/lib/circle-progress/circle-progress-init.js"></script>
    <script src="static/assets/js/lib/chartist/chartist.min.js"></script>
    <script src="static/assets/js/lib/sparklinechart/jquery.sparkline.min.js"></script>
    <script src="static/assets/js/lib/sparklinechart/sparkline.init.js"></script>
    <script src="static/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="static/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <!-- scripit init-->
    <script src="static/assets/js/dashboard2.js"></script>
</body>
</html>