{% extends 'dashboard.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-money color-success border-success"></i>
                </div>
                <div class="stat-content dib">
                        <div class="stat-text">Total Products</div>
                        <div class="stat-digit">{{productcount}}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-user color-primary border-primary"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">Total Users</div>
                    <div class="stat-digit">{{usercount}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-layout-grid2 color-pink border-pink"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">Total Orders</div>
                    <div class="stat-digit">{{ordercount}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib"><i class="ti-link color-danger border-danger"></i></div>
                <div class="stat-content dib">
                    <div class="stat-text">Total Vendors</div>
                    <div class="stat-digit">{{vendorcount}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}