{% extends 'dashboard.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/Exam/student_app/static/details.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
      {% block content %}

      <h2 style="font-family: cursive; color: rgb(18, 2, 44); text-decoration: underline;">Orders List</h2><br>

        <div>
          <table class="table">
            <thead class="thead-dark">

              <!-- Filter Data -->

              <tr>
                <form action="{% url 'filterOrderCid' %}" method="POST">
                  {% csrf_token %}
                  <label style="margin-left: 30px; color:red; margin-right: 4px;" for="dfrom">Customer ID</label>
                  <select name="searchcid" id="searchcid">
                    {% for i in cid %}
                      <option value="{{i.email}}">{{i.email}}</option>
                      {% endfor %}
                  </select>
                  <button style="color:blue; margin-left: 5px;" type="submit"><i class="fas fa-filter"></i></button>
                </form>

                <form action="{% url 'filterOrderStatus' %}" method="POST">
                  {% csrf_token %}
                  <label style="margin-left: 30px; color:red; margin-right: 4px;">Status</label>
                  <select name="searchstatus" id="searchstatus">
                    <option value="Pending">Pending</option>
                    <option value="Completed">Completed</option>
                    <option value="Ordered">Ordered</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Out for Delivery">Out for Delivery</option>
                    <option value="Order Cancel">Order Cancel</option>
                    <option value="Customer Cancel">Customer Cancel</option>
                    <option value="Delivered">Delivered</option>
                    <option value="Added to Cart">Added to Cart</option>
                    <option value="Assigned to Driver">Assigned to Driver</option>
                </select>
                  <button style="color:blue; margin-left: 5px;" type="submit"><i class="fas fa-filter"></i></button>
                </form>
  
                <form action="{% url 'filterOrderDate' %}" method="POST">
                  {% csrf_token %}
                  <label style="margin-left: 30px; color:red; margin-right: 4px;" for="dfrom">Date from</label>
                <input type="date" id="dfrom" name="dfrom">
                <label style="margin-left: 30px; color:red; margin-right: 4px;" for="dto">Date to</label>
                <input type="date" id="dto" name="dto">
                  <button style="color:blue; margin-left: 5px;" type="submit"><i class="fas fa-filter"></i></button>
                </form>

                <button style="margin-left: 15px;"><a href="{% url 'listorder' %}"><i class="fas fa-sync-alt"></i></a></button>

              </tr>

              <!-- Table Data -->

              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Order Date</th>
                <th scope="col">Customer ID</th>
                <th scope="col">Ventor ID</th>
                <th scope="col">Order Total</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for i in pro %}
                <tr>
                    <td><input type="checkbox" id="check1" name="check1"></td>
                    <td>{{i.id}}</td>
                    <td>{{i.order_date}}</td>
                    <td>{{i.customer_id}}</td>
                    <td>{{i.vendor_id}}</td>
                    <td>{{i.order_total}}</td>
                    <td>{{i.payment_method}}</td>  
                    <td>{{i.delivery_date}}</td> 
                    <td>{{i.status}}</td> 
                    <td><a style="color:teal;" href="{% url 'edit' userid=i.id %}"><i class="fas fa-edit"></i></a></td>
                    <td><a style="color: red;" href="{% url 'delorders' userid=i.id %}"><i class="fas fa-trash"></i></a></td>
                  </tr>
                  {% endfor %}
            </tbody>
          </table>
      </div>

      {% endblock %}
    
</body>
</html>