{% extends 'dashboard.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/Exam/student_app/static/details.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>

      {% block content %}

      <h2 style="font-family: cursive; color: blue; text-decoration: underline;">User List</h2><br>

        <div>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <form action="{% url 'filterUserRoles' %}" method="POST">
                    {% csrf_token %}
                    <label style="margin-left: 30px; color:red; margin-right: 4px;">Filter Roles</label>
                    <select name="searchroles" id="searchroles">
             
                        <option value="admin">admin</option>
                        <option value="customer">customer</option>
                        <option value="driver">driver</option>
                     
                     </select>
                    <button style="color:blue; margin-left: 5px;" type="submit"><i class="fas fa-filter"></i></button>
                  </form>

                  <button style="margin-left: 15px;"><a href="{% url 'listusers' %}"><i class="fas fa-sync-alt"></i></a></button>

                </tr>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Address</th>
                  <th scope="col">Role</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for i in user %}
                  <tr>
                      <td><input type="checkbox" id="check1" name="check1"></td>
                      <td>{{i.id}}</td>
                      <td>{{i.first_name}}</td>
                      <td>{{i.last_name}}</td>
                      <td>{{i.email}}</td>
                      <td>{{i.phone}}</td>
                      <td>{{i.address}}</td>  
                      <td>{{i.role}}</td>  
                      <td><a style="color:teal;" href="{% url 'edit' userid=i.id %}"><i class="fas fa-edit"></i></a></td>
                      <td><a style="color: red;" href="{% url 'del' userid=i.id %}"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    {% endfor %}
              </tbody>
            </table>
        </div>

        {% endblock %}
</body>
</html>