{% extends 'dashboard.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/Exam/student_app/static/details.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
      {% block content %}

      <!-- Form -->

      <div class="container border border-dark rounded p-lg-5 shadow-lg p-3 mb-5 bg-dark rounded my-5 mx-9">
        <form action="{% url 'addorders' %}" method="POST">
            {% csrf_token %}
            <h2 style="font-family: cursive; color: lightyellow;" class="signinup">Add Orders</h2><br>
            <div class="form-row">

            <div class="form-group col-md-12 mr-xl-5 signinup required">
                <label style="color: mintcream; margin-right: 10px;" for="order_date">Order Date</label>
                <input type="date" id="order_date" name="order_date">
            </div> </br>

            <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="customer_id">Customer ID</label>
                    <select name="customer_id" id="customer_id">
                      {% for i in cid %}
                        <option value="{{i.email}}">{{i.email}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="vendor_id">Ventor ID</label>
                    <select name="vendor_id" id="vendor_id">
                      {% for i in vid %}
                        <option value="{{i.username}}">{{i.username}}</option>
                        {% endfor %}
                    </select>
            </div>

              <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="order_total">Order Total</label>
                <input type="number" name="order_total" class="form-control" id="order_total" placeholder="Enter the Order Total"><br>
              </div>

              <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="inputname1">Payment method</label>
                <input type="text" name="payment_method" class="form-control" id="payment_method" placeholder="Enter the payment method"><br>
              </div>

              <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="product_id">Product ID</label>
                    <select name="product_id" id="product_id">
                      {% for i in product %}
                        <option value="{{i.product_name}}">{{i.product_name}}</option>
                        {% endfor %}
                    </select>
            </div>

            <div class="form-group col-md-12 mr-xl-5 signinup required">
              <label style="color: mintcream;" for="product_quantity">Product Quantity</label>
              <input type="number" name="product_quantity" class="form-control" id="product_quantity" placeholder="Enter the product qty"><br>
            </div>

              
            <div class="form-group col-md-12 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="payment_status">Payment Status</label>
                    <select name="payment_status" id="payment_status">
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
            </div>

            <div class="form-group col-md-12 mr-xl-5 signinup required">
                <label style="color: mintcream; margin-right: 10px;" for="delivery_date">Delivery Date</label>
                <input type="date" id="delivery_date" name="delivery_date">
            </div> </br>

            <div class="form-group col-md-12 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="status">Status</label>
                    <select name="status" id="status">
                        <option value="Pending">Pending</option>
                        <option value="Completed">Completed</option>
                        <option value="Ordered">Ordered</option>
                        <option value="Accepted">Accepted</option>
                        <option value="Out for Delivery">Out for Delivery</option>
                        <option value="Order Cancel">Order Cancel</option>
                        <option value="Customer Cancel">Customer Cancel</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Added to Cart">Added to Cart</option>
                        <option value="Assigned to Driver">Assigned to Driver</option>
                    </select>
            </div>

              <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="Is_delivered">Is Delivered</label><br>
                <input type="checkbox" id="Is_delivered" name="Is_delivered" value="True">
                <label style="color: mintcream;" for="Is_delivered">Yes</label>
                <input style="margin-left: 30px;" type="checkbox" id="Is_delivered" name="Is_delivered" value="False">
                <label style="color: mintcream;" for="Is_delivered"> No</label>
              </div>
              
          <button style="margin-left: 438px;" type="submit" value="Submit" class="btn btn-success">Add</button>
          </div>  
        </form>
        </div>
    <!-- /Form -->
    {% endblock %}
    
</body>
</html>