{% extends 'dashboard.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/Exam/student_app/static/details.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>
      
{% block content %}

      <div class="container border border-dark rounded p-lg-5 shadow-lg p-3 mb-5 bg-dark rounded my-5 mx-9">
        <form action="{% url 'addproducts' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 style="font-family: cursive; color: lightyellow;" class="signinup">Add Products</h2><br>
          <div class="form-row">
              <div class="form-group col-md-12 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="inputname1">Product Name</label>
                <input type="text" name="product_name" class="form-control" id="product_name" placeholder="Enter the Product Name"><br>
              </div>

              <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="inputname1">Product Price</label>
                <input type="number" name="product_price" class="form-control" id="product_price" placeholder="Enter the price"><br>
              </div>

              <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="inputname1">Product Stock</label>
                <input type="number" name="product_stock" class="form-control" id="product_stock" placeholder="Enter the stock value"><br>
              </div>

              <div class="form-group col-md-5 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="product_stock_status">Product Stock Status :</label><br>
                <input type="checkbox" id="product_stock_status" name="product_stock_status" value="True">
                <label style="color: mintcream;" for="product_stock_status">Available</label>
                <input style="margin-left: 30px;" type="checkbox" id="product_stock_status" name="product_stock_status" value="False">
                <label style="color: mintcream;" for="product_stock_status"> Not Available</label>
              </div>

              <div class="col-md-8">
                <label style="color: mintcream;" for="profile_pic">Product Image</label>
                <input name="product_image" type="file" class="form-control" id="product_image" required><br>
              </div>

              <div class="form-group col-md-10 mr-xl-5 signinup required">
                <label style="color: mintcream;" for="inputname1">Description</label>
                <input type="text" name="product_desc" class="form-control" id="product_desc" placeholder="Enter description"><br>
              </div>
            </div>

            <label style="color: mintcream;" for="category">Choose Category:</label>
                  <select name="category" id="category">
                      {% for i in cat %}
                        <option value="{{i.category_name}}">{{i.category_name}}</option>
                        {% endfor %}
                  </select>

            <label style="color: mintcream; margin-left: 400px;" for="vendor">Choose Vendor:</label>
                <select name="vendor" id="vendor">
                  {% for i in ven %}
                    <option value="{{i.username}}">{{i.username}}</option>
                    {% endfor %}
                </select><br></br>
          <button style="margin-left: 438px;" type="submit" value="Submit" class="btn btn-success">Add</button>
        </form>
        </div>

    {% endblock %}
</body>
</html>